<!DOCTYPE html>
<html>

<head>
<title>BIOENGINEERING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <style>
 body{
 background-color:lavender;
 }
#heading{
position:relative;
color:red;
font-size:45px;
margin-left:17px;
text-shadow:2px 2px White;
text-align:center;
font-family:Comic Sans, Comic Sans MS, cursive;
margin-top:100px;

}
.winner{
	font-size:20px;
	margin:5px;
	padding:0px 14px 0px 14px;

}

.dropsize{
	font-size:16px;
}
.dropsize:hover{
 color:red;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
  }

.footer{
	position: relative;
	clear: both;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(75,75,75,0.8);
   color: white;
   text-align: center;
   min-height:100px;

	}
#myCarousel{
width:600px;
height:400px;
box-shadow:2px 2px 7px #FF0000;

}
.navbar{
background-color:rgba(75,75,75,0.8);
border-color:rgba(75,75,75,0.8);
}



li{
margin-top:30px;
padding:0px;
margin-left:0px;
height:100%;
}
address{
margin-top:30px;
}




.footer a{
color:white;
}
.footer a:hover{
color:red;
}
#headhe{
margin-left:0px;
height
}
blockquote{

width:1200px;}

<!--navbar right ka hai
.navbar-inverse .navbar-nav >li:hover{
background:red;
}

.navbar-inverse .navbar-nav >li>a{
color:red;
}

{
  background:red;
  color:lavenderblush;

}-->
.navbar-inverse a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:onclick{
  background-color:black;
  color:white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
color:white;
background-color:red;
}

#admin:hover{
background-color:black;
}
.footer a{
text-decoration:none;
}
.footer li{
margin:25px;
}
.dot {
  height: 6px;
  width: 6px;
  background-color:white;
  margin:0px 7px 3px 0px;
  border-radius: 50%;
  display: inline-block;
}
  </style>

  </head>
<body>

   <!--Navbar ka hai-->
    <nav class="navbar navbar-inverse" style="height:100px;">
    <div class="container-fluid" id="headhe">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding:0px;margin:6px" href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Birla_Institute_of_Technology_Mesra.svg/220px-Birla_Institute_of_Technology_Mesra.svg.png" style="height:90px;padding:0px;margin:0px"/></a>

    </div>

    <br><a href="#"  id="heading">BIT Directory</a>
    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
      <li><a href="/Administration" id="admin" class="winner" style="margin:-2px 0px 2px 2px;color:white;">Administration</a></li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Faculty</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:146.5px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/faculty/cse" class="dropsize" >cse</a></li>
          <li><a href="/faculty/ece" class="dropsize">ece</a></li>
          <li><a href="/faculty/eee" class="dropsize">eee</a></li>
          <li><a href="/faculty/mech" class="dropsize">mech</a></li>
          <li><a href="/faculty/civil" class="dropsize">civil</a></li>
          <li><a href="/faculty/prod" class="dropsize">prod</a></li>
          <li><a href="/faculty/bio" class="dropsize">bio tech</a></li>
          <li><a href="/faculty/chemeng" class="dropsize">Chem Eng</a></li>
          <li><a href="/faculty/chem" class="dropsize">Chemistry</a></li>
          <li><a href="/faculty/arch" class="dropsize">Architecture</a></li>
          <li><a href="/faculty/mat" class="dropsize">Maths</a></li>
          <li><a href="/faculty/phy" class="dropsize">Physics</a></li>

          <li><a href="/faculty/hotel" class="dropsize">Hotel Mana..</a></li>
          <li><a href="/faculty/manage" class="dropsize">Management</a></li>
          <li><a href="/faculty/space" class="dropsize">Space Eng</a></li>
          <li><a href="/faculty/remote" class="dropsize">Remote sensing</a></li>
          <li><a href="/faculty/pharm" class="dropsize">Pharmaceutical</a></li>



        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;;"><span class="winner">Shops</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:139px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/shops/canteens" class="dropsize" >Canteens</a></li>
          <li><a href="/shops/stationary" class="dropsize">Stationary</a></li>
          <li><a href="/shops/tailor" class="dropsize">Tailor</a></li>
        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Transport</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color:rgba(255, 26, 26,1);border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;;min-width:166px;">
          <li><a href="/transport/busdirectory" class="dropsize">BusDirectory</a></li>
          <li><a href="/transport/rentals" class="dropsize" >Rentals</a></li>
          <li><a href="/transport/autodirectory" class="dropsize">Auto Directory</a></li>

        </ul>
      </li>
    </ul>
    </div>
    </nav>
  <!--nav ka katham-->


<div   >

    <h1  style=" text-align: center ;text-decoration: underline  ;  text-shadow:2px 2px White; color:orange  ;   " > <b> <i> FACULTY OF BIOENGINEERING</i></b></h1>


</div>
<br>





<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212144308517_3ba1979159df4bf687d762a5dc576816_Menu_634024415817031250F626.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Ramesh Chandra   </h4>
<p class="card-text"> <b> Qualifications: </b>M Tech, PhD  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Biotechnology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    rameshchandra@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212144200222_895daaef702f46c88c801301df75db71_Menu_634024414961250000F513.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Padmini Padmanabhan    </h4>
<p class="card-text"> <b> Qualifications: </b>B.Tech (Chem Engg),M.Tech (Chem Engg),Ph.D.(Bioprocess Engg, IIT-M ),AvH Fellow  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Nanobiotechnology, Nano Heat transfer fluids, Rheology of biosystems, Bioreaction kinetics & modelling, Renewable energy - Experimental & Computer-aided bio process design for conversion of agro - renewable resources to value added products & process integration for economic analysis of the processes.  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    padmini@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212141733351_867696b4b3164111b350dd671b8156d0_Menu_634024414653437500F279.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Kunal Mukhopadhyay   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Plant Molecular Biology, Plant Tissue Culture  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    kmukhopadhyay@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userrakeshkumarsinha/FacultyImage/FacImg32135e2bbd044f6b8d3145821804e904Rakesh1.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Rakesh Kumar Sinha   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D. (Biomedical Engineering)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Biosignal Analysis and Pattern Recognition  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    rakeshsinha@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminbioeng/FacultyImage/FacImg4ff613ba8df546a4a6847fc7e16a77a12013%20a.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Manish Kumar   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Environmental Biotechnology, Plant-Pathogen Interactions, Instrumentation  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    manish@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212145157786_d7f73111a77e45f5945663010eccd9a9_download.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. V. K. Nigam   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Bioprocess Technology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    vknigam@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userdmpandey/FacultyImage/FacImg658e8015b5a24224ad29abc98309d038DMP.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. D. M. Pandey   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Plant Biochemistry and Plant Molecular Physiology  </p>  <p class="card-text"> <b> Contact: </b>    9431900315  </p>  <p class="card-text"> <b> Email: </b>    dmpandey@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212145925783_98dfd83f1c544aa88786f3e55cae0529_Menu_634024418894062500F504.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S. Ghosh (Sachan)   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Microbiology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    ssachan@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212160457563_d22aba0dde5346b0a8e9eb5159310067_Menu_634021748929687500F497.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Yogender Aggarwal   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D. (Technology)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Biomedical Instrumentation  </p>  <p class="card-text"> <b> Contact: </b>    +919431991797  </p>  <p class="card-text"> <b> Email: </b>    yogender.aggarwal@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212151420127_e700076a44514bf8b8dbb4c2b0aaaa0d_Menu_634024419180625000F593.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S. Chandra   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Plant Tissue Culture  </p>  <p class="card-text"> <b> Contact: </b>    8002326866  </p>  <p class="card-text"> <b> Email: </b>    schandra@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userSoham/FacultyImage/FacImgdbab0588d18f448ca46b39d309259f7dIMG-20181229-WA0000.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Soham Chattopadhyay   </h4>
<p class="card-text"> <b> Qualifications: </b>B.Tech, M.Tech., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Bioprocess Engineering, Bioseparation Technology, Biotransformation  </p>  <p class="card-text"> <b> Contact: </b>    9932802031  </p>  <p class="card-text"> <b> Email: </b>    soham@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212160702815_e719696826e343699c61ab078e2e1d66_Menu_634314628844218750_Anjana%20Dwivedi.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Anjana Dwivedi   </h4>
<p class="card-text"> <b> Qualifications: </b> M.Sc (Biomedical Instrumentation), Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Systems Biology, Lifestyle & Medicine  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    anjana.dwivedi@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userskjha/FacultyImage/FacImgbd2319f3873943f28e6c3aa976cbe091skj.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S. K. Jha   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Sc., M.Tech., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Biochemical Engineering, Nanobiotechnology  </p>  <p class="card-text"> <b> Contact: </b>    +91-9430764884  </p>  <p class="card-text"> <b> Email: </b>    skjha@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_muthukumar/FacultyImage/FacImg6ca070264f584f5882ecab75299b949c_20160914_130907.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S. Muthu Kumar   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Tech., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Bioprocess Engineering, Downstream Processing, Membrane Separations and Biofuel  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    muthubiorec@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_kmukherjee/FacultyImage/FacImgafa0fc0de11242afb8d43baa2bb1d71c_pic.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Koel Mukherjee (On Study Leave)   </h4>
<p class="card-text"> <b> Qualifications: </b>B. Tech, M. Tech (Bioinformatics), PhD (Computational Biology)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Bioinformatics  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    koelmukherjee@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userrajupoddar/FacultyImage/FacImgdd330770c1264267a6aa5f5da205f096Dr%20Raju%20Poddar.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Raju Poddar   </h4>
<p class="card-text"> <b> Qualifications: </b>M Tech, PhD  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Bioinformatics, Bio-instrumentation and Optical Coherence Tomography  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    rpoddar@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userdprasad/FacultyImage/FacImg48a75dbb8fb44198af0f77c765479caaDinesh%20BIT%20Website.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Dinesh Prasad   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Biomolecular Engineering  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    dinesh@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212155916733_70e733bd5e5b4d0a8db3b320322f659b_Menu_634276662643305000_SRS.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S. R. Sharma   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Animal Cell Culture  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    srsharma@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userhrsingh/FacultyImage/FacImg6a4abcb06387463b9336f4a150d4832aIMG-20180504-WA0008.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. H. R. Singh   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D. (Zoology)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Industrial Microbiology, Nano-biotechnology, Immunology  </p>  <p class="card-text"> <b> Contact: </b>    9006369084  </p>  <p class="card-text"> <b> Email: </b>    hrsingh@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150212161247557_a345a3f6ba3c49ab98ec32e32330790e_Menu_634276640965648750_SS.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sneha Singh   </h4>
<p class="card-text"> <b> Qualifications: </b>MSc, PhD   </p>
 <p class="card-text"> <b> Area of Interest: </b>    Nanobiotechnology, Regenerative medicine  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    snehasingh@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>





<!--footer -->

   <div class="footer">
  	<div class="container" style="color:white">
  		<div class="row">
  			<div class="col-sm-4">
  			<address style="color:white;font-size:15px;">
  			<b><u>Contact BIT Campuses</u></b>
  			<br>BIT Mesra Campus
  			<br>Birla Institute of Technology, Mesra
  			<br>Ranchi, Jharkhand 835215
  			<br>PABX: +91 651 2275444/2275896
  			<br>Fax: 0651 2275401
  			</address>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;">
  				<li><a href="http://erp.bitmesra.ac.in/iitmsv4eGq0RuNHb0G5WbhLmTKLmTO7YBcJ4RHuXxCNPvuIw=?enc=EGbCGWnlHNJ/WdgJnKH8DA==" ><span class="dot"></span>ERP</a><li>
  				<li><a href="/home"><span class="dot"></span>HOME</a><li>
            <li><a href="http://115.114.127.54:8080/psp/bitcsprd/EMPLOYEE/HRMS/c/B_STDNT_SLF.B_SEM_CRSE_MAP.GBL?PORTALPARAM_PTCNAV=BIT_STDNT_REGISTRATION&EOPP.SCNode=HRMS&EOPP.SCPortal=EMPLOYEE&EOPP.SCName=CO_EMPLOYEE_SELF_SERVICE&EOPP.SCLabel=Self%2520Service&EOPP.SCPTfname=CO_EMPLOYEE_SELF_SERVICE&FolderPath=PORTAL_ROOT_OBJECT.CO_EMPLOYEE_SELF_SERVICE.BIT_STDNT_REGISTRATION&IsFolder=false&cmd=login&languageCd=ENG" style="margin-left:31	px;"><span class="dot"></span>Old ERP</a><li>
  				</ul>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;float:left;">
  				<li><a href="http://placement.bitmesra.ac.in/" style="margin-left:14px;"><span class="dot"></span>Placement Portal</a><li>
  				<li><a href="https://www.bitmesra.ac.in/UploadedDocuments/adminpoly/files/List%20of%20Holidays.pdf"><span class="dot"></span>List of holidays</a><li>
  				<li><a href="https://www.bitmesra.ac.in/Show_Content_Section?cid=1&pid=285"><span class="dot"></span>TELEPHONE DIRECTORY</a><li>
  				</ul>
  			</div>
  		</div>
  	</div>
   </div>
  <!--footer ends-->

 </body></html>
