<!DOCTYPE html>
<html>

<head>
<title>CHEMISTRY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <style>
 body{
 background-color:lavender;
 }
#heading{
position:relative;
color:red;
font-size:45px;
margin-left:17px;
text-shadow:2px 2px White;
text-align:center;
font-family:Comic Sans, Comic Sans MS, cursive;
margin-top:100px;

}
.winner{
	font-size:20px;
	margin:5px;
	padding:0px 14px 0px 14px;

}

.dropsize{
	font-size:16px;
}
.dropsize:hover{
 color:red;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
  }

.footer{
	position: relative;
	clear: both;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(75,75,75,0.8);
   color: white;
   text-align: center;
   min-height:100px;

	}
#myCarousel{
width:600px;
height:400px;
box-shadow:2px 2px 7px #FF0000;

}
.navbar{
background-color:rgba(75,75,75,0.8);
border-color:rgba(75,75,75,0.8);
}



li{
margin-top:30px;
padding:0px;
margin-left:0px;
height:100%;
}
address{
margin-top:30px;
}




.footer a{
color:white;
}
.footer a:hover{
color:red;
}
#headhe{
margin-left:0px;
height
}
blockquote{

width:1200px;}

<!--navbar right ka hai
.navbar-inverse .navbar-nav >li:hover{
background:red;
}

.navbar-inverse .navbar-nav >li>a{
color:red;
}

{
  background:red;
  color:lavenderblush;

}-->
.navbar-inverse a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:onclick{
  background-color:black;
  color:white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
color:white;
background-color:red;
}

#admin:hover{
background-color:black;
}
.footer a{
text-decoration:none;
}
.footer li{
margin:25px;
}
.dot {
  height: 6px;
  width: 6px;
  background-color:white;
  margin:0px 7px 3px 0px;
  border-radius: 50%;
  display: inline-block;
}
  </style>

  </head>
<body>

   <!--Navbar ka hai-->
    <nav class="navbar navbar-inverse" style="height:100px;">
    <div class="container-fluid" id="headhe">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding:0px;margin:6px" href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Birla_Institute_of_Technology_Mesra.svg/220px-Birla_Institute_of_Technology_Mesra.svg.png" style="height:90px;padding:0px;margin:0px"/></a>

    </div>

    <br><a href="#"  id="heading">BIT Directory</a>
    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
      <li><a href="/Administration" id="admin" class="winner" style="margin:-2px 0px 2px 2px;color:white;">Administration</a></li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Faculty</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:146.5px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/faculty/cse" class="dropsize" >cse</a></li>
          <li><a href="/faculty/ece" class="dropsize">ece</a></li>
          <li><a href="/faculty/eee" class="dropsize">eee</a></li>
          <li><a href="/faculty/mech" class="dropsize">mech</a></li>
          <li><a href="/faculty/civil" class="dropsize">civil</a></li>
          <li><a href="/faculty/prod" class="dropsize">prod</a></li>
          <li><a href="/faculty/bio" class="dropsize">bio tech</a></li>
          <li><a href="/faculty/chemeng" class="dropsize">Chem Eng</a></li>
          <li><a href="/faculty/chem" class="dropsize">Chemistry</a></li>
          <li><a href="/faculty/arch" class="dropsize">Architecture</a></li>
          <li><a href="/faculty/mat" class="dropsize">Maths</a></li>
          <li><a href="/faculty/phy" class="dropsize">Physics</a></li>

          <li><a href="/faculty/hotel" class="dropsize">Hotel Mana..</a></li>
          <li><a href="/faculty/manage" class="dropsize">Management</a></li>
          <li><a href="/faculty/space" class="dropsize">Space Eng</a></li>
          <li><a href="/faculty/remote" class="dropsize">Remote sensing</a></li>
          <li><a href="/faculty/pharm" class="dropsize">Pharmaceutical</a></li>



        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;;"><span class="winner">Shops</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:139px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/shops/canteens" class="dropsize" >Canteens</a></li>
          <li><a href="/shops/stationary" class="dropsize">Stationary</a></li>
          <li><a href="/shops/tailor" class="dropsize">Tailor</a></li>
        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Transport</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color:rgba(255, 26, 26,1);border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;;min-width:166px;">
          <li><a href="/transport/busdirectory" class="dropsize">BusDirectory</a></li>
          <li><a href="/transport/rentals" class="dropsize" >Rentals</a></li>
          <li><a href="/transport/autodirectory" class="dropsize">Auto Directory</a></li>

        </ul>
      </li>
    </ul>
    </div>
    </nav>
  <!--nav ka katham-->


<div   >

    <h1  style=" text-align: center ;text-decoration: underline  ;  text-shadow:2px 2px White; color:orange  ;   " > <b> <i> FACULTY OF CHEMISTRY</i></b></h1>




</div>
<br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminchem/FacultyImage/FacImg5f94c1b8dc974712be912d3ca43bc5f6PKS.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Prof. P.K. Srivastava   </h4>
<p class="card-text"> <b> Qualifications: </b>MSc, PhD  </p>
 <p class="card-text"> <b> Area of Interest: </b>    physical chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    pksrivastava@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216111805289_04acd76f548243c399027bdcbc7ba23d_Menu_634019170858906250F1.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. (Mrs.) Usha Jha   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Environmental Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    ushajha@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216112251853_1766ff622b934ee5ba12b5a44ff855b3_Menu_634019266716718750F167.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. J. P. Pandey   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D. (BHU)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Electrochemistry, Photoelectrochemistry, Environmental Science  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    jppandey@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216113108518_9550df9226bd48eea1cfd8c37e60d32e_Menu_635205467907703829_APPCHEM-AS-PHOTO.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Ashoke Sharon   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc. Tech., Ph.D. (CDRI-CSIR, Lucknow)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Organic / Medicinal Chemistry, Drug Design & Molecular Modeling  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    asharon@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216112656711_97a078a3606445d8aa81bcfe1c412117_Menu_634019266226718750F169.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Bimal Verma   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Synthetic Organic Chemistry, Engineering Chemistry.  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    bimalverma@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216121637529_31ff09e0b9b141d2ae364ad62413ee36_gagarwal.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> G. K. Agarwal   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., M.Phil.(Univ. of Nottingham)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Environmental Chemistry & Health, NMR Spectroscopy, Biodegradable polymers, Photochemistry.   </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    gkagarwal@bitmesra.ac.in, gyanagarwal@hotmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216114519825_b49c659913df400fa7ba2a6e7350e847_Menu_634085014344571590_chandra-ph1.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Chandralata Bal   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Sc. Tech. Ph.D. (CDRI-CSIR, Lucknow)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Organic/Medicinal Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    cbal@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userjoydeepdhar/FacultyImage/FacImgffdadbb6b58b44e49752a463ebfac60aPassport%20photo.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Joydeep Dhar   </h4>
<p class="card-text"> <b> Qualifications: </b>PhD (IISc. Bangalore), M.Sc. (IIT Madras)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Physical Chemistry, Macromolecular Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    jdhar.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216120421017_a5df6c661d984e16b901f1b05421166d_ghosh.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Barnali Dasgupta Ghosh   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc, M.Tech, Ph.D (IIT Kharagpur)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Polymer, Nanocomposites, Nanotechnology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    barnali.iitkgp@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216121421439_b60190fec6324fcb81185460f1699bf2_pkar.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Pradip Kar   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D (Materials Science) IIT Kharagpur, M.Sc (Organic Specialization)Jadavpur University, Kolkata, B.Sc (Chemistry Hons) University of Calcutta, Kolkata.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Conducting Polymer, Its metal and CNT nanocomposites. Bio & gas sensor.  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    pradipkgp@gmail.com, pkar@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userprabhatkumar/FacultyImage/FacImg8d9976776f944626984d119038eb94abprabhatkriisc.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Prabhat Kumar   </h4>
<p class="card-text"> <b> Qualifications: </b>B.Sc. (Chemistry, 2004-2007, BHU); M.Sc. (Organic Chemistry, 2007-2009, IIT Delhi); Ph.D. (Organic Chemistry, 2009-2015, IISc Bangalore)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Organic Synthesis, Organometallic and Materials Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    +91 9535145958  </p>  <p class="card-text"> <b> Email: </b>    pkumar.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216121202052_6fcb332f7cbd4172ad1b74643acf19e6_ssmahapatra.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Susanta Sinha Mahapatra   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc, M.Tech, Ph.D  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Electrochemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    ssmahapatra@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_adminchem/FacultyImage/FacImg_20151029211046089_76800beb17cc471b869e39e857a5a139_sm%20image.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sumit Mishra   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., M.Phil., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Environmental Chemistry, Polymers, Industrial Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    smishra@bitmesra.ac.in, sumitmishra1@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216114831037_ea1d544eb39d46aba73678d682b9804b_Menu_634467546505645000_SN-pic-3.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Subhendu Naskar   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc. , Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Coordination Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    9470162183  </p>  <p class="card-text"> <b> Email: </b>    subnaskar@yahoo.co.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216115716759_41f12f210cc0493593fce70c4d2e25c4_rahul.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Rahul   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D, M.S (Org. Chem), USA; M.Sc. (Chem) IIT Bombay  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Polymer Chemistry, Organic Synthesis/Organometallic Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    rahulsharma17@gmail.com     </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216115918306_551ec603798b41c4bedf526aa69650d6_gsen.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Gautam Sen   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Polymer Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    gsen9@hotmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150216113959410_d3ff0910cc8a42238da0294a3fe0aa5c_Menu_634086454770040340_deep-ph1.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. (Mrs.) Deep Shikha   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc. (Inorganic), Ph.D. (BIT Mesra)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Biomaterials, Corrosion, Characterization of Materials  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    deepshikha@bitmesra.ac.in,deepshikha1011@hotmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>











<!--footer -->

   <div class="footer">
  	<div class="container" style="color:white">
  		<div class="row">
  			<div class="col-sm-4">
  			<address style="color:white;font-size:15px;">
  			<b><u>Contact BIT Campuses</u></b>
  			<br>BIT Mesra Campus
  			<br>Birla Institute of Technology, Mesra
  			<br>Ranchi, Jharkhand 835215
  			<br>PABX: +91 651 2275444/2275896
  			<br>Fax: 0651 2275401
  			</address>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;">
  				<li><a href="http://erp.bitmesra.ac.in/iitmsv4eGq0RuNHb0G5WbhLmTKLmTO7YBcJ4RHuXxCNPvuIw=?enc=EGbCGWnlHNJ/WdgJnKH8DA==" ><span class="dot"></span>ERP</a><li>
  				<li><a href="/home"><span class="dot"></span>HOME</a><li>
            <li><a href="http://115.114.127.54:8080/psp/bitcsprd/EMPLOYEE/HRMS/c/B_STDNT_SLF.B_SEM_CRSE_MAP.GBL?PORTALPARAM_PTCNAV=BIT_STDNT_REGISTRATION&EOPP.SCNode=HRMS&EOPP.SCPortal=EMPLOYEE&EOPP.SCName=CO_EMPLOYEE_SELF_SERVICE&EOPP.SCLabel=Self%2520Service&EOPP.SCPTfname=CO_EMPLOYEE_SELF_SERVICE&FolderPath=PORTAL_ROOT_OBJECT.CO_EMPLOYEE_SELF_SERVICE.BIT_STDNT_REGISTRATION&IsFolder=false&cmd=login&languageCd=ENG" style="margin-left:31	px;"><span class="dot"></span>Old ERP</a><li>
  				</ul>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;float:left;">
  				<li><a href="http://placement.bitmesra.ac.in/" style="margin-left:14px;"><span class="dot"></span>Placement Portal</a><li>
  				<li><a href="https://www.bitmesra.ac.in/UploadedDocuments/adminpoly/files/List%20of%20Holidays.pdf"><span class="dot"></span>List of holidays</a><li>
  				<li><a href="https://www.bitmesra.ac.in/Show_Content_Section?cid=1&pid=285"><span class="dot"></span>TELEPHONE DIRECTORY</a><li>
  				</ul>
  			</div>
  		</div>
  	</div>
   </div>
  <!--footer ends-->

 </body></html>
