<!DOCTYPE html>
<html>

<head>
<title>Pharmaceutics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <style>
 body{
 background-color:lavender;
 }
#heading{
position:relative;
color:red;
font-size:45px;
margin-left:17px;
text-shadow:2px 2px White;
text-align:center;
font-family:Comic Sans, Comic Sans MS, cursive;
margin-top:100px;

}
.winner{
	font-size:20px;
	margin:5px;
	padding:0px 14px 0px 14px;

}

.dropsize{
	font-size:16px;
}
.dropsize:hover{
 color:red;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
  }

.footer{
	position: relative;
	clear: both;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(75,75,75,0.8);
   color: white;
   text-align: center;
   min-height:100px;

	}
#myCarousel{
width:600px;
height:400px;
box-shadow:2px 2px 7px #FF0000;

}
.navbar{
background-color:rgba(75,75,75,0.8);
border-color:rgba(75,75,75,0.8);
}



li{
margin-top:30px;
padding:0px;
margin-left:0px;
height:100%;
}
address{
margin-top:30px;
}




.footer a{
color:white;
}
.footer a:hover{
color:red;
}
#headhe{
margin-left:0px;
height
}
blockquote{

width:1200px;}

<!--navbar right ka hai
.navbar-inverse .navbar-nav >li:hover{
background:red;
}

.navbar-inverse .navbar-nav >li>a{
color:red;
}

{
  background:red;
  color:lavenderblush;

}-->
.navbar-inverse a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:onclick{
  background-color:black;
  color:white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
color:white;
background-color:red;
}

#admin:hover{
background-color:black;
}
.footer a{
text-decoration:none;
}
.footer li{
margin:25px;
}
.dot {
  height: 6px;
  width: 6px;
  background-color:white;
  margin:0px 7px 3px 0px;
  border-radius: 50%;
  display: inline-block;
}
  </style>

  </head>
<body>

   <!--Navbar ka hai-->
    <nav class="navbar navbar-inverse" style="height:100px;">
    <div class="container-fluid" id="headhe">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding:0px;margin:6px" href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Birla_Institute_of_Technology_Mesra.svg/220px-Birla_Institute_of_Technology_Mesra.svg.png" style="height:90px;padding:0px;margin:0px"/></a>

    </div>

    <br><a href="#"  id="heading">BIT Directory</a>
    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
      <li><a href="/Administration" id="admin" class="winner" style="margin:-2px 0px 2px 2px;color:white;">Administration</a></li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Faculty</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:146.5px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/faculty/cse" class="dropsize" >cse</a></li>
          <li><a href="/faculty/ece" class="dropsize">ece</a></li>
          <li><a href="/faculty/eee" class="dropsize">eee</a></li>
          <li><a href="/faculty/mech" class="dropsize">mech</a></li>
          <li><a href="/faculty/civil" class="dropsize">civil</a></li>
          <li><a href="/faculty/prod" class="dropsize">prod</a></li>
          <li><a href="/faculty/bio" class="dropsize">bio tech</a></li>
          <li><a href="/faculty/chemeng" class="dropsize">Chem Eng</a></li>
          <li><a href="/faculty/chem" class="dropsize">Chemistry</a></li>
          <li><a href="/faculty/arch" class="dropsize">Architecture</a></li>
          <li><a href="/faculty/mat" class="dropsize">Maths</a></li>
          <li><a href="/faculty/phy" class="dropsize">Physics</a></li>

          <li><a href="/faculty/hotel" class="dropsize">Hotel Mana..</a></li>
          <li><a href="/faculty/manage" class="dropsize">Management</a></li>
          <li><a href="/faculty/space" class="dropsize">Space Eng</a></li>
          <li><a href="/faculty/remote" class="dropsize">Remote sensing</a></li>
          <li><a href="/faculty/pharm" class="dropsize">Pharmaceutical</a></li>



        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;;"><span class="winner">Shops</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:139px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/shops/canteens" class="dropsize" >Canteens</a></li>
          <li><a href="/shops/stationary" class="dropsize">Stationary</a></li>
          <li><a href="/shops/tailor" class="dropsize">Tailor</a></li>
        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Transport</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color:rgba(255, 26, 26,1);border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;;min-width:166px;">
          <li><a href="/transport/busdirectory" class="dropsize">BusDirectory</a></li>
          <li><a href="/transport/rentals" class="dropsize" >Rentals</a></li>
          <li><a href="/transport/autodirectory" class="dropsize">Auto Directory</a></li>

        </ul>
      </li>
    </ul>
    </div>
    </nav>
  <!--nav ka katham-->


<div   >

    <h1  style=" text-align: center ;text-decoration: underline  ;  text-shadow:2px 2px White; color:orange  ;   " > <b> <i> FACULTY OF Pharmaceutical Sciences and Technology</i></b></h1>


</div>
<br>


<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userssamanta/FacultyImage/FacImg9e39bcbe7fd349e09d578ea7ab81c631SS.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S. Samanta   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    +919431596870  </p>  <p class="card-text"> <b> Email: </b>    samanta_bitmesra@yahoo.co.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150312111542565_b0c2e80264914747807f177cc3fb33c1_Menu_634354434190867500_SG.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. (MS) S. Ganguly   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., FIC, FICS  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical/ Medicinal Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    swastikaganguly@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userrngupta/FacultyImage/FacImg09ed870b67614c63b3a40866494f351bPicture%20rngupta.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. R.N. Gupta   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D., PGDMM, Fellow IPA  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutics  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    rngupta@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150219104126359_816e2351fb264e00aa23d7a2832aed3e_Menu_634354434291961250_SJ.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S. Jha   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc. (Botany), Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmacognosy & Phytochemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    sjha@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userjayaram/FacultyImage/FacImgf170eb608ae64892b5ff3a2ca77d94bbmyphoto.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. K. Jayaram Kumar   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Biopolymers , Standardization   </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    jayarampharm@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150312112037431_e8627c47dc3948b98c693bcdbe3fad83_Menu_634354433939461250_PMM.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. (Mrs.) Papiya Mitra Mazumder   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmacology and Toxicology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    papiya_mm@rediffmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userbnsinha/FacultyImage/FacImgbe7420b243d8497db05320af89822b44PP_BNS.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. B.N. Sinha   </h4>
<p class="card-text"> <b> Qualifications: </b>B.Sc., M. Pharm., Ph.D., FIC  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Chemistry, Natural Products  </p>  <p class="card-text"> <b> Contact: </b>    +91 9431382671  </p>  <p class="card-text"> <b> Email: </b>    bnsinha@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_prpverma/FacultyImage/FacImg4b0e6506961f4466a5c86974263bad05_pic%20(2).jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. P. R. P. Verma   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., FIC, FICS  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Lipid Based Drug Delivery System, Transdermal Drug Delivery System, Nanoparticulate Drug Delivery System, Solid Dispersion, Exploration of Natural Additives and Standardization of ayurvedic Formulation  </p>  <p class="card-text"> <b> Contact: </b>    +91-9439382622  </p>  <p class="card-text"> <b> Email: </b>    prpverma@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150312112253168_69e36df345bf442692dc4fb22c512c84_Menu_634354434531648750_SMV.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. (Mrs.) S.M. Verma   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., FIC, FICS  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Chemistry  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    smverma275730@yahoo.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_venkatesan/FacultyImage/FacImg17a06a757d1e404095d6287cc66d2b37_VenkatesanJ_resized.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Venkatesan Jayaprakash   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Molecular Modelling, Drug Design, Pharmaceutical Analysis and Quality Management  </p>  <p class="card-text"> <b> Contact: </b>    +91-9470137264  </p>  <p class="card-text"> <b> Email: </b>    venkatesanj@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150312111257382_837d0992788a46c9862a9b15d4e7a411_Menu_634355204767117500_SGP.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Mrs. S.G. Panpalia   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Pharm.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutics  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    sgpanpalia@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in//Defaultimg/photo.png   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Ashok Kumar Pattnaik   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmacology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    ashokp29@yahoo.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in//Defaultimg/photo.png   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. (Mrs.) Trishna Bal   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutics  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    trishna.bal@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/usersugato/FacultyImage/FacImg9425351cbd4141d298a2d8c3af530ba3000%20copy.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sugato Banerjee   </h4>
<p class="card-text"> <b> Qualifications: </b>M.S., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmacology & Neuroscience  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    sbanerjee@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/usermpchopra/FacultyImage/FacImg597bfed9c0de4c83a491b25ab081e7a8photo.jpeg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Mr. Mahendra Pratap Chopra   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm, PhD, RPh..  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmacology & Drugs testing  </p>  <p class="card-text"> <b> Contact: </b>    09431327053  </p>  <p class="card-text"> <b> Email: </b>    mpchopra@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in//Defaultimg/photo.png   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Abhimanyu Dev   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Biotechnology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    abhimanyudev@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useranimesh/FacultyImage/FacImg66c8c3a308ee41eb9e9afe3517cdfc0cphoto.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Animesh Ghosh   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Engineering  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    aghosh@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_adminpharm/FacultyImage/FacImg_20160426110917714_8272dab3a94749d5a483c571db0190df_Dr.%20Manik%20Ghosh.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Manik Ghosh   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Chemistry & Quality Assurance  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    manik@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_anima/FacultyImage/FacImg14bef7dd7bdc46cd8fd5cdeffbe8dfd0_IMG-20160814-WA0000(1).jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Anima Pandey   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Development & Standarization of Herbal Formulation  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    animapandey11@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminpharm/FacultyImage/FacImg99e8a941bf6b41fdaa5d3c92126ef4d6IMG_20180704_162355.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Kishanta Kumar Pradhan   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Pharmaceutical Analysis & Quality Assurance  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    kkpradhan@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userbiswatrish/FacultyImage/FacImg50a597bfc8da43ab85a498613b52e0ddBiswatrish%20Sarkar.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Biswatrish Sarkar   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm., Ph.D., R.Ph.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Oxidative Stress and Antioxidants  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    biswatrishsarkar@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userneelima/FacultyImage/FacImgca84792ad827491cbf149a9b5f2c2a7aneelima%20100-1.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. (Mrs.) Neelima Sharma   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Sc., Ph.D.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Animal cell culture, Toxicology  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    nsharma@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/usersandeep/FacultyImage/FacImg5dc06cf4027547bcb5ef45d4a6a14c5eIMG_20170228_214511%20(2).jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sandeep Kumar Singh   </h4>
<p class="card-text"> <b> Qualifications: </b>B. Pharm., IET, MJP Rohilkhand University, Bareilly, UP;  M. Pharm. (Pharmaceutics), UIPS, Panjab University Chandigarh; Ph.D (BIT, Mesra); R. Ph.; Postdoc: PKNU (MBRC), Busan, South Korea  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Self Nanoemulsifying Drug Delivery System, Silk Based Nanoparticles, Lipid Based Nanoparticles, Pharmacokinetics, In silico Simulations  </p>  <p class="card-text"> <b> Contact: </b>    +91 9234653731   </p>  <p class="card-text"> <b> Email: </b>    dr.sandeep_pharmaceutics@yahoo.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_shakti/FacultyImage/FacImg8d953b5b005744e2a6b1dc85e20120bd_Shakti%200058.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Shakti P. Pattanayak   </h4>
<p class="card-text"> <b> Qualifications: </b>M. Pharm. (P.cology), IDCTCR, RPh., Ph.D., Post Doc.(HU)   </p>
 <p class="card-text"> <b> Area of Interest: </b>    Molecular Signaling in Cancer & Cancer-Immunology  </p>  <p class="card-text"> <b> Contact: </b>    7320069799  </p>  <p class="card-text"> <b> Email: </b>    sppattanayak@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>






<!--footer -->

   <div class="footer">
  	<div class="container" style="color:white">
  		<div class="row">
  			<div class="col-sm-4">
  			<address style="color:white;font-size:15px;">
  			<b><u>Contact BIT Campuses</u></b>
  			<br>BIT Mesra Campus
  			<br>Birla Institute of Technology, Mesra
  			<br>Ranchi, Jharkhand 835215
  			<br>PABX: +91 651 2275444/2275896
  			<br>Fax: 0651 2275401
  			</address>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;">
  				<li><a href="http://erp.bitmesra.ac.in/iitmsv4eGq0RuNHb0G5WbhLmTKLmTO7YBcJ4RHuXxCNPvuIw=?enc=EGbCGWnlHNJ/WdgJnKH8DA==" ><span class="dot"></span>ERP</a><li>
  				<li><a href="/home"><span class="dot"></span>HOME</a><li>
            <li><a href="http://115.114.127.54:8080/psp/bitcsprd/EMPLOYEE/HRMS/c/B_STDNT_SLF.B_SEM_CRSE_MAP.GBL?PORTALPARAM_PTCNAV=BIT_STDNT_REGISTRATION&EOPP.SCNode=HRMS&EOPP.SCPortal=EMPLOYEE&EOPP.SCName=CO_EMPLOYEE_SELF_SERVICE&EOPP.SCLabel=Self%2520Service&EOPP.SCPTfname=CO_EMPLOYEE_SELF_SERVICE&FolderPath=PORTAL_ROOT_OBJECT.CO_EMPLOYEE_SELF_SERVICE.BIT_STDNT_REGISTRATION&IsFolder=false&cmd=login&languageCd=ENG" style="margin-left:31	px;"><span class="dot"></span>Old ERP</a><li>
  				</ul>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;float:left;">
  				<li><a href="http://placement.bitmesra.ac.in/" style="margin-left:14px;"><span class="dot"></span>Placement Portal</a><li>
  				<li><a href="https://www.bitmesra.ac.in/UploadedDocuments/adminpoly/files/List%20of%20Holidays.pdf"><span class="dot"></span>List of holidays</a><li>
  				<li><a href="https://www.bitmesra.ac.in/Show_Content_Section?cid=1&pid=285"><span class="dot"></span>TELEPHONE DIRECTORY</a><li>
  				</ul>
  			</div>
  		</div>
  	</div>
   </div>
  <!--footer ends-->

 </body></html>
