<!DOCTYPE html>
<html>

<head>
<title>PRODUCTION</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <style>
 body{
 background-color:lavender;
 }
#heading{
position:relative;
color:red;
font-size:45px;
margin-left:17px;
text-shadow:2px 2px White;
text-align:center;
font-family:Comic Sans, Comic Sans MS, cursive;
margin-top:100px;

}
.winner{
	font-size:20px;
	margin:5px;
	padding:0px 14px 0px 14px;

}

.dropsize{
	font-size:16px;
}
.dropsize:hover{
 color:red;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
  }

.footer{
	position: relative;
	clear: both;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(75,75,75,0.8);
   color: white;
   text-align: center;
   min-height:100px;

	}
#myCarousel{
width:600px;
height:400px;
box-shadow:2px 2px 7px #FF0000;

}
.navbar{
background-color:rgba(75,75,75,0.8);
border-color:rgba(75,75,75,0.8);
}



li{
margin-top:30px;
padding:0px;
margin-left:0px;
height:100%;
}
address{
margin-top:30px;
}




.footer a{
color:white;
}
.footer a:hover{
color:red;
}
#headhe{
margin-left:0px;
height
}
blockquote{

width:1200px;}

<!--navbar right ka hai
.navbar-inverse .navbar-nav >li:hover{
background:red;
}

.navbar-inverse .navbar-nav >li>a{
color:red;
}

{
  background:red;
  color:lavenderblush;

}-->
.navbar-inverse a{
color:white;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:onclick{
  background-color:black;
  color:white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
color:white;
background-color:red;
}

#admin:hover{
background-color:black;
}
.footer a{
text-decoration:none;
}
.footer li{
margin:25px;
}
.dot {
  height: 6px;
  width: 6px;
  background-color:white;
  margin:0px 7px 3px 0px;
  border-radius: 50%;
  display: inline-block;
}
  </style>

  </head>
<body>

   <!--Navbar ka hai-->
    <nav class="navbar navbar-inverse" style="height:100px;">
    <div class="container-fluid" id="headhe">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding:0px;margin:6px" href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Birla_Institute_of_Technology_Mesra.svg/220px-Birla_Institute_of_Technology_Mesra.svg.png" style="height:90px;padding:0px;margin:0px"/></a>

    </div>

    <br><a href="#"  id="heading">BIT Directory</a>
    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
      <li><a href="/Administration" id="admin" class="winner" style="margin:-2px 0px 2px 2px;color:white;">Administration</a></li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Faculty</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:146.5px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/faculty/cse" class="dropsize" >cse</a></li>
          <li><a href="/faculty/ece" class="dropsize">ece</a></li>
          <li><a href="/faculty/eee" class="dropsize">eee</a></li>
          <li><a href="/faculty/mech" class="dropsize">mech</a></li>
          <li><a href="/faculty/civil" class="dropsize">civil</a></li>
          <li><a href="/faculty/prod" class="dropsize">prod</a></li>
          <li><a href="/faculty/bio" class="dropsize">bio tech</a></li>
          <li><a href="/faculty/chemeng" class="dropsize">Chem Eng</a></li>
          <li><a href="/faculty/chem" class="dropsize">Chemistry</a></li>
          <li><a href="/faculty/arch" class="dropsize">Architecture</a></li>
          <li><a href="/faculty/mat" class="dropsize">Maths</a></li>
          <li><a href="/faculty/phy" class="dropsize">Physics</a></li>

          <li><a href="/faculty/hotel" class="dropsize">Hotel Mana..</a></li>
          <li><a href="/faculty/manage" class="dropsize">Management</a></li>
          <li><a href="/faculty/space" class="dropsize">Space Eng</a></li>
          <li><a href="/faculty/remote" class="dropsize">Remote sensing</a></li>
          <li><a href="/faculty/pharm" class="dropsize">Pharmaceutical</a></li>



        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;;"><span class="winner">Shops</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color: #FF0000;min-width:139px;border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
          <li><a href="/shops/canteens" class="dropsize" >Canteens</a></li>
          <li><a href="/shops/stationary" class="dropsize">Stationary</a></li>
          <li><a href="/shops/tailor" class="dropsize">Tailor</a></li>
        </ul>
      </li>
      <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top:-3px;height:100%;color:white;"><span class="winner">Transport</span>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="background-color:rgba(255, 26, 26,1);border-color:green;border-bottom-left-radius:10px;border-bottom-right-radius:10px;;min-width:166px;">
          <li><a href="/transport/busdirectory" class="dropsize">BusDirectory</a></li>
          <li><a href="/transport/rentals" class="dropsize" >Rentals</a></li>
          <li><a href="/transport/autodirectory" class="dropsize">Auto Directory</a></li>

        </ul>
      </li>
    </ul>
    </div>
    </nav>
  <!--nav ka katham-->


<div   >

    <h1  style=" text-align: center ;text-decoration: underline  ;  text-shadow:2px 2px White; color:orange  ;   " > <b> <i> FACULTY OF PRODUCTION ENGINEERING</i></b></h1>


</div>
<br>



<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminprod/FacultyImage/FacImg6341068288404edcb4d1e6afd6f29630IMG_20170505_075135_EDIT_1.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sanjay Kumar Jha   </h4>
<p class="card-text"> <b> Qualifications: </b>PhD., M.E. (AMS), B.E. (Production)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Manufacturing technology, Industrial Engineering  </p>  <p class="card-text"> <b> Contact: </b>    9431173491  </p>  <p class="card-text"> <b> Email: </b>    sanjayjha@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_joyjeetghose/FacultyImage/FacImg_20160802113313468_f0cb36c44b1f4b0ab19542d3dc9fc35f_IMG_20160802_111737422_HDR.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Joyjeet Ghose   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D., M. Prod. E (J. U.)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Advanced Materials, Metal Foams, Metal cutting, Robotic Path Planning  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    joyjeetghose@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_lnpattanaik/FacultyImage/FacImg6f7e6a163a6b41bda10784330c0cdee9_new.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. L.N. Pattanaik    </h4>
<p class="card-text"> <b> Qualifications: </b>Ph. D. (IIT-Roorkee)   </p>
 <p class="card-text"> <b> Area of Interest: </b>    Design and Optimization of Manufacturing System, Lean Six-Sigma (LSS)  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    lnpattanaik@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150218134154843_ae597db2cc054cd9a05cfd6acafcc21c_5.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Ritesh Kumar Singh   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D., M.E. (AMS), B.E. (Ind. Engg.)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Industrial Engineering  </p>  <p class="card-text"> <b> Contact: </b>    4538  </p>  <p class="card-text"> <b> Email: </b>    riteshsingh@bitmesra.ac.in, riteshkus@hotmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150218134650429_75a5c77c62ae40c9ab6af0fd53085fd1_7.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sharad Chandra Srivastava   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D, M. E (CAD/CAM), B.E. (Ind. Engg. & Prod.)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    CAD/ CAM, Industrial Engineering  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    sharad.scs@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_akthakur/FacultyImage/FacImg_20160802113844583_04bc91ce7be747369ab5f0694d34bb06_IMG_20160802_111614403_HDR.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> A.K. Thakur   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Tech., B.E.  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Metallurgy  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    ak.thakur263@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminprod/FacultyImage/FacImg15f0b05a1cf3490aabd39816eb21381cBappa%20Acherjee.png   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. BAPPA ACHERJEE   </h4>
<p class="card-text"> <b> Qualifications: </b>PhD (Engineering), M.Tech (Manufacturing Technology), B.Tech (Production Engineering)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Manufacturing Processes, Thermal and Structural Modeling and Analyses, Laser Arc Hybrid Welding  </p>  <p class="card-text"> <b> Contact: </b>    7908623725  </p>  <p class="card-text"> <b> Email: </b>    bappa.rana@bitmesra.ac.in, bappa.rana@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminprod/FacultyImage/FacImg0250df50fa7d4d37a8f2e925fb24a276Ananya.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Ananya Chattree   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Tech  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Polymer Matrix Composite  </p>  <p class="card-text"> <b> Contact: </b>    7665151513  </p>  <p class="card-text"> <b> Email: </b>    achattree.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150218135903718_bc2e00ac6d474c76a4dcf684499f5662_12.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Somak Datta   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D., M.Tech. (Mfg Tech.), B.E. (Industrial Engg. & Management)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Manufacturing Technology,Artificial Intelligence, Industrial Engineering  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    somakdatta@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminprod/FacultyImage/FacImg114e87332a164de583f806e02e67f336Shailesh%20kumar%20Dewangan.JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Shailesh Kumar Dewangan   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Non conventional Machine, Optimization Technique  </p>  <p class="card-text"> <b> Contact: </b>    7987520294  </p>  <p class="card-text"> <b> Email: </b>    sdewangan.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/FacultyImage/FacImg_20150218135650204_09b9216093954637b336fffc7eec9507_11.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Binay Kumar   </h4>
<p class="card-text"> <b> Qualifications: </b>M.E. (CAAD), B.E. (Mechanical)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    CAD, Industrial Engineering  </p>  <p class="card-text"> <b> Contact: </b>    Not Available  </p>  <p class="card-text"> <b> Email: </b>    binaykumar77@gmail.com  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/userdeepaksahini/FacultyImage/FacImgc491940f9eb24f519f2d090fe366b3c4dpak_photo.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. S V S K Deepak Kumar   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Semi-solid Metal Processing, (Cooling Slope casting, Thixoforming) of Al-Si-Mg based alloys and in-situ composites  </p>  <p class="card-text"> <b> Contact: </b>    9000291444  </p>  <p class="card-text"> <b> Email: </b>    skumar.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminprod/FacultyImage/FacImg4b20886262f3478f914615d01d42a8e8prakash%20photo.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Prakash Kumar   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph. D., M.Tech.(Machine Design), B.Tech. (Production)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Vibration and Control, Non Linear Dynamics, Casting and welding  </p>  <p class="card-text"> <b> Contact: </b>    8789250832  </p>  <p class="card-text"> <b> Email: </b>    prkumar.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminprod/FacultyImage/FacImg9193fce5a15f4ec2af2577adf18e0667id%20Photo.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sagar Nikam   </h4>
<p class="card-text"> <b> Qualifications: </b>Ph.D., M.Tech (Manufacturing Technology), B.E. (Production Engineering)  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Additive Manufacturing  </p>  <p class="card-text"> <b> Contact: </b>    9595142444  </p>  <p class="card-text"> <b> Email: </b>    nikam.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/uservprabhakar/FacultyImage/FacImgcf8ff14448444366ae86f4dc971fbdf7DSC_1643%20(2).JPG   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Vivek Prabhakar   </h4>
<p class="card-text"> <b> Qualifications: </b>M.Tech  </p>
 <p class="card-text"> <b> Area of Interest: </b>    Supply Chain Management, Optimization  </p>  <p class="card-text"> <b> Contact: </b>    9680920044  </p>  <p class="card-text"> <b> Email: </b>    vprabhakar.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>
<section>  <div class="container py-3" style="background-color:rgba(255,255,255,0.7);width:50%;margin-left:140px;border-radius:10px;box-shadow:5px 5px rgba(244, 36, 15,0.7);" >   <div class="card"> <div class="row ">          <div class="col-md-4">     <img  style="height: 150px; width:145px" src="    https://www.bitmesra.ac.in/UploadedDocuments/useradminprod/FacultyImage/FacImg91bcc772f27a41e88f388e4cbedd9dafSonu%20photo.jpg   "  class= "w-75" >  </div> <div class="col-md-8 px-3" style="margin-left:0 ; padding-left:0">             <div class="card-block px-3">  <h4 class="card-title"> Dr. Sonu Rajak   </h4>
<p class="card-text"> <b> Qualifications: </b> Ph. D., M.Tech.   </p>
 <p class="card-text"> <b> Area of Interest: </b>    Supply Chain Management, Operation Management, Optimization  </p>  <p class="card-text"> <b> Contact: </b>    7708532140  </p>  <p class="card-text"> <b> Email: </b>    srajak.teqip@bitmesra.ac.in  </p>  </div>   </div>        </div> </div> </div>  </section> <br> <br>







<!--footer -->

   <div class="footer">
  	<div class="container" style="color:white">
  		<div class="row">
  			<div class="col-sm-4">
  			<address style="color:white;font-size:15px;">
  			<b><u>Contact BIT Campuses</u></b>
  			<br>BIT Mesra Campus
  			<br>Birla Institute of Technology, Mesra
  			<br>Ranchi, Jharkhand 835215
  			<br>PABX: +91 651 2275444/2275896
  			<br>Fax: 0651 2275401
  			</address>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;">
  				<li><a href="http://erp.bitmesra.ac.in/iitmsv4eGq0RuNHb0G5WbhLmTKLmTO7YBcJ4RHuXxCNPvuIw=?enc=EGbCGWnlHNJ/WdgJnKH8DA==" ><span class="dot"></span>ERP</a><li>
  				<li><a href="/home"><span class="dot"></span>HOME</a><li>
            <li><a href="http://115.114.127.54:8080/psp/bitcsprd/EMPLOYEE/HRMS/c/B_STDNT_SLF.B_SEM_CRSE_MAP.GBL?PORTALPARAM_PTCNAV=BIT_STDNT_REGISTRATION&EOPP.SCNode=HRMS&EOPP.SCPortal=EMPLOYEE&EOPP.SCName=CO_EMPLOYEE_SELF_SERVICE&EOPP.SCLabel=Self%2520Service&EOPP.SCPTfname=CO_EMPLOYEE_SELF_SERVICE&FolderPath=PORTAL_ROOT_OBJECT.CO_EMPLOYEE_SELF_SERVICE.BIT_STDNT_REGISTRATION&IsFolder=false&cmd=login&languageCd=ENG" style="margin-left:31	px;"><span class="dot"></span>Old ERP</a><li>
  				</ul>
  			</div>
  			<div class="col-sm-4">
  				<ul style="list-style-type: none;font-size:17px;float:left;">
  				<li><a href="http://placement.bitmesra.ac.in/" style="margin-left:14px;"><span class="dot"></span>Placement Portal</a><li>
  				<li><a href="https://www.bitmesra.ac.in/UploadedDocuments/adminpoly/files/List%20of%20Holidays.pdf"><span class="dot"></span>List of holidays</a><li>
  				<li><a href="https://www.bitmesra.ac.in/Show_Content_Section?cid=1&pid=285"><span class="dot"></span>TELEPHONE DIRECTORY</a><li>
  				</ul>
  			</div>
  		</div>
  	</div>
   </div>
  <!--footer ends-->

 </body></html>
